{% extends "layout.html" %}

{% block title %}Select Your Meditation{% endblock %}

{% block content %}
    <div class="intro text-center">
        <h1>🌿 Welcome</h1>
        <p>
            Hello, my name is <strong>Patrick</strong>, I’m from <strong>Trujillo, Peru</strong>, and I’m a developer in training.
            After taking the <strong>CS50</strong> course, I decided that my final project should reflect something essential in my life: <em>meditation</em>.
        </p>
        <p>
            In particular, I want to share the practice of <strong>Letting Go</strong> meditations.
            For me, mental health is not only about calming the mind, but about learning to recognize how you feel and why you feel it.
            My goal is to transmit that experience and show how, by releasing resistance, we can find a space of peace and authenticity.
        </p>

    </div>
{% endblock %}
