{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Action</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {%for stock in stocks %}
            <tr>
                <td>{{ stock["symbol"] }}</td>
                <td>{{ stock["transaction_shares"] }}</td>
                <td>{{ stock["action"]}} </td>
                <td>{{ stock["current_price"]| usd }}</td>
                <td>{{ stock["transaction_time"] }}</td>

            </tr>
            {%endfor %}
        </tbody>
    </table>
{% endblock %}
